<%- include ("../partials/head"); %>
  <%- include ("../partials/admin-navbar-shadow"); %>

    <div id="page" class="site ">
      <div class="main-contain updates-padding">
        <div class="container">
          <div id="content" class="site-content">
            <div class="rs-heading style3  vc_custom_1543920863426  ">
              <div class="title-inner">
                <!-- <span style="color: #28406d" class="sub-text">[News]</span> -->
                <h2 class="title" style="margin-bottom: 0;">Events</h2>
              </div>
              <!-- <div class="description">
            <p>Accelerating innovative young minds.</p>
          </div> -->
            </div>
            <div class="row padding-">
              <div class="col-md-12 ">
                <article id="post-2176" class="post-2176 page type-page status-publish hentry">
                  <div class="entry-content">
                    <div class="vc_row wpb_row vc_row-fluid vc_custom_1543998372065">
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                          <div class="wpb_wrapper">
                            <div class="rs-blog-grid rs-blog ">
                              <div class="row">
                                <% for (let index=0; index < 6; index++) { %>

                                  <div class="blog-item col-lg-4 col-md-12 style1 event-item">
                                    <div class="event-card">
                                      <div class="blog-img image-scale"> <img width="1200" height="800"
                                          src="../wp-content/uploads/2018/11/2.jpg"
                                          class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""
                                          srcset="https://rstheme.com/products/wordpress/finoptis/wp-content/uploads/2018/11/2.jpg 1200w, https://rstheme.com/products/wordpress/finoptis/wp-content/uploads/2018/11/2-365x243.jpg 365w, https://rstheme.com/products/wordpress/finoptis/wp-content/uploads/2018/11/2-600x400.jpg 600w, https://rstheme.com/products/wordpress/finoptis/wp-content/uploads/2018/11/2-300x200.jpg 300w, https://rstheme.com/products/wordpress/finoptis/wp-content/uploads/2018/11/2-768x512.jpg 768w, https://rstheme.com/products/wordpress/finoptis/wp-content/uploads/2018/11/2-1024x683.jpg 1024w"
                                          sizes="(max-width: 1200px) 100vw, 1200px" />
                                        <div class="blog-date"> <span class="date">19 </span> <span class="month">Nov
                                          </span></div>
                                      </div>
                                      <div class="bottom-shadow1 ">
                                        <div class="blog-meta">
                                          <h3 class="blog-title">Small Business Trends</h3>
                                          <!-- <div class="blog-date"> <span class="author">By admin</span><span class="seperator">/</span> <span class="categories"><a href="../category/corporate/index.html">Corporate </a></span></div> -->
                                        </div>
                                        <div class="admin-btns">
                                          <div><a href="/admin/edit-event" class="btn btn-primary edit-btn">Edit</a></div>
                                          <div><a href="" class="btn btn-danger delete-btn">Delete</a></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <% } %>
                              </div>
                              <div class="pagination-area">
                                <div class="nav-links"><span aria-current='page' class='page-numbers current'>1</span>
                                  <a class='page-numbers' href='page/2/index.html'>2</a> <a class="next page-numbers"
                                    href="page/2/index.html">Next &raquo;</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>

      <script>
        document.getElementById("events19").classList.add("current-menu-ancestor");
        document.getElementById("home19").classList.remove("current_page_item", "current-menu-ancestor");
      </script>

      <%- include ("../partials/admin-footer"); %>