<footer id="rs-footer" class=" rs-footer footer-style-1"
  style="background-image: url('/wp-content/uploads/2018/12/footer-bg.jpg')">
  <div class="footer-bottom">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="copyright">
            <p>Copyright ©2022 IEEE Computer Society Kerala Chapter. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
</div>
<script>
  document.onreadystatechange = function() {
    if (document.readyState !== "complete") {
      document.querySelector(".loader-container").style.display = "block";
      document.querySelector(".rs-footer").style.display = "none";
      document.querySelector(".loadah").style.display = "none";
    } else {
      document.querySelector(".loader-container").style.display = "none";
      document.querySelector(".rs-footer").style.display = "block";
      document.querySelector(".loadah").style.display = "block";
    }
  };
</script>
<div id="scrollUp"> <i class="fa fa-angle-up"></i></div>
<script>(function () {
    function addEventListener(element, event, handler) {
      if (element.addEventListener) {
        element.addEventListener(event, handler, false);
      } else if (element.attachEvent) {
        element.attachEvent('on' + event, handler);
      }
    } function maybePrefixUrlField() {
      if (this.value.trim() !== '' && this.value.indexOf('http') !== 0) {
        this.value = "http://" + this.value;
      }
    }

    var urlFields = document.querySelectorAll('.mc4wp-form input[type="url"]');
    if (urlFields && urlFields.length > 0) {
      for (var j = 0; j < urlFields.length; j++) {
        addEventListener(urlFields[j], 'blur', maybePrefixUrlField);
      }
    }/* test if browser supports date fields */
    var testInput = document.createElement('input');
    testInput.setAttribute('type', 'date');
    if (testInput.type !== 'date') {

      /* add placeholder & pattern to all date fields */
      var dateFields = document.querySelectorAll('.mc4wp-form input[type="date"]');
      for (var i = 0; i < dateFields.length; i++) {
        if (!dateFields[i].placeholder) {
          dateFields[i].placeholder = 'YYYY-MM-DD';
        }
        if (!dateFields[i].pattern) {
          dateFields[i].pattern = '[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])';
        }
      }
    }

  })();</script>
<script type="text/javascript">var c = document.body.className;
  c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
  document.body.className = c;</script>
<script type="text/javascript">function revslider_showDoubleJqueryError(sliderID) {
    var errorMessage = "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";
    errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
    errorMessage += "<br><br> To fix it you can:<br>&nbsp;&nbsp;&nbsp; 1. In the Slider Settings -> Troubleshooting set option:  <strong><b>Put JS Includes To Body</b></strong> option to true.";
    errorMessage += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jquery.js include and remove it.";
    errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
    jQuery(sliderID).show().html(errorMessage);
  }</script>
<script
  type='text/javascript'>var wpcf7 = { "apiSettings": { "root": "https:\/\/rstheme.com\/products\/wordpress\/finoptis\/wp-json\/contact-form-7\/v1", "namespace": "contact-form-7\/v1" }, "recaptcha": { "messages": { "empty": "Please verify that you are not a robot." } } };</script>
<script
  type='text/javascript'>var woocommerce_params = { "ajax_url": "\/products\/wordpress\/finoptis\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/products\/wordpress\/finoptis\/?wc-ajax=%%endpoint%%" };</script>
<script
  type='text/javascript'>var wc_cart_fragments_params = { "ajax_url": "\/products\/wordpress\/finoptis\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/products\/wordpress\/finoptis\/?wc-ajax=%%endpoint%%", "cart_hash_key": "wc_cart_hash_4077b553ceece1e59c10433e34153fcd", "fragment_name": "wc_fragments_4077b553ceece1e59c10433e34153fcd" };</script>
<script type='text/javascript'>var flicker_data = { "limit_f": "6", "flicker_id": "159794289@N02" };</script>
<script type='text/javascript'>var mc4wp_forms_config = [];</script>
<!--[if lte IE 9]> <script type='text/javascript' src='https://rstheme.com/products/wordpress/finoptis/wp-content/plugins/mailchimp-for-wp/assets/js/third-party/placeholders.min.js?ver=4.3.1'></script> <![endif]-->
<script type="text/javascript" defer
  src="wp-content/cache/autoptimize/js/autoptimize_e5fb01b82e91cd3791eb4751d0118d4d.js"></script>
</body>
<script src="https://use.fontawesome.com/c18c02f32e.js"></script>

</html>