<body
  class="home page-template-default page page-id-238 woocommerce-no-js wpb-js-composer js-comp-ver-5.6 vc_responsive">
  <!-- <div id="loading">
  <div class="loader">
    <div class="loader__bar"></div>
    <div class="loader__bar"></div>
    <div class="loader__bar"></div>
    <div class="loader__bar"></div>
    <div class="loader__bar"></div>
    <div class="loader__ball"></div>
  </div>
</div> -->
  <div id="page" class="site ">
    <header id="rs-header" class="single-header header-style1">
      <div class="header-inner  menu-sticky" style="box-shadow: 0 0 20px -10px rgb(0 0 0 / 80%);">
        <%- include ("admin-nav-common"); %>
      </div>
    </header>