<!DOCTYPE html>
<html lang="en-US">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <link rel="stylesheet" href="/css-purged-m/bs.min.css">
  <link rel="stylesheet" href="/css-purged-m/admin.min.css">
  <link rel="stylesheet" href="/css-purged-m/loader.min.css">
  <link rel="stylesheet" href="/css-purged-m/vc_custom.min.css">
  <link type="text/css" media="all" href="/css-purged-m/autoptimize_5ff6e42029ff9708fa380b7d5b13ee7f.min.css" rel="stylesheet" />
  <link type="text/css" media="all" href="/css-purged-m/autoptimize_415cbcccaf5c2e7d755a8da9db76ebcc.min.css" rel="stylesheet" />
  <link type="text/css" media="all" href="/css-purged-m/autoptimize_a02052aaf219aa04f71db57c8b9380dc.min.css" rel="stylesheet" />
  <!-- <link rel="stylesheet" href="/css-purged-m/custom.min.css"> -->
  <link rel="stylesheet" href="/css-purged/custom.css">
  <link rel="stylesheet" href="/css-purged/mv.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <title>IEEE CS Kerala Chapter</title>
  <script>
    if (typeof WebFontConfig === "undefined") {
      WebFontConfig = new Object();
    }
    WebFontConfig['google'] = {
      families: ['Muli:200,300,400,600,700,800,900,200italic,300italic,400italic,600italic,700italic,800italic,900italic', 'Poppins:100,200,300,400,500,600,700,800,900,100italic,200italic,300italic,400italic,500italic,600italic,700italic,800italic,900italic']
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = '../../../../ajax.googleapis.com/ajax/libs/webfont/1.5.3/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>
  <link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
  <link rel='dns-prefetch' href='http://s.w.org/' />
  <script type="text/javascript">
    window._wpemojiSettings = {
      "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/",
      "ext": ".png",
      "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/",
      "svgExt": ".svg",
      "source": {
        "concatemoji": "https:\/\/rstheme.com\/products\/wordpress\/finoptis\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.0.16"
      }
    };
    ! function(e, a, t) {
      var n, r, o, i = a.createElement("canvas"),
        p = i.getContext && i.getContext("2d");

      function s(e, t) {
        var a = String.fromCharCode;
        p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, e), 0, 0);
        e = i.toDataURL();
        return p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, t), 0, 0), e === i.toDataURL()
      }

      function c(e) {
        var t = a.createElement("script");
        t.src = e, t.defer = t.type = "text/javascript", a.getElementsByTagName("head")[0].appendChild(t)
      }
      for (o = Array("flag", "emoji"), t.supports = {
          everything: !0,
          everythingExceptFlag: !0
        }, r = 0; r < o.length; r++) t.supports[o[r]] = function(e) {
        if (!p || !p.fillText) return !1;
        switch (p.textBaseline = "top", p.font = "600 32px Arial", e) {
          case "flag":
            return s([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819]) ? !1 : !s([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]);
          case "emoji":
            return !s([55358, 56760, 9792, 65039], [55358, 56760, 8203, 9792, 65039])
        }
        return !1
      }(o[r]), t.supports.everything = t.supports.everything && t.supports[o[r]], "flag" !== o[r] && (t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && t.supports[o[r]]);
      t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && !t.supports.flag, t.DOMReady = !1, t.readyCallback = function() {
        t.DOMReady = !0
      }, t.supports.everything || (n = function() {
        t.readyCallback()
      }, a.addEventListener ? (a.addEventListener("DOMContentLoaded", n, !1), e.addEventListener("load", n, !1)) : (e.attachEvent("onload", n), a.attachEvent("onreadystatechange", function() {
        "complete" === a.readyState && t.readyCallback()
      })), (n = t.source || {}).concatemoji ? c(n.concatemoji) : n.wpemoji && n.twemoji && (c(n.twemoji), c(n.wpemoji)))
    }(window, document, window._wpemojiSettings);
  </script>
  <link rel='stylesheet' id='studio-fonts-css' href='http://fonts.googleapis.com/css?family=Poppins%7CMuli%3A300%2C400%2C400i%2C500%2C600%2C700%2C800%2C900%26amp%3Bsubset%3Dlatin-ext&amp;ver=1.0.0' type='text/css' media='all' />
  <script type='text/javascript' src='/wp-includes/js/jquery/jqueryb8ff.js?ver=1.12.4'></script>
  <script type='text/javascript'>
    var wc_add_to_cart_params = {
      "ajax_url": "\/products\/wordpress\/finoptis\/wp-admin\/admin-ajax.php",
      "wc_ajax_url": "\/products\/wordpress\/finoptis\/?wc-ajax=%%endpoint%%",
      "i18n_view_cart": "View cart",
      "cart_url": "https:\/\/rstheme.com\/products\/wordpress\/finoptis\/cart\/",
      "is_cart": "",
      "cart_redirect_after_add": "no"
    };
  </script>
  <script type="text/javascript">
    function setREVStartSize(e) {
      try {
        e.c = jQuery(e.c);
        var i = jQuery(window).width(),
          t = 9999,
          r = 0,
          n = 0,
          l = 0,
          f = 0,
          s = 0,
          h = 0;
        if (e.responsiveLevels && (jQuery.each(e.responsiveLevels, function(e, f) {
            f > i && (t = r = f, l = e), i > f && f > r && (r = f, n = e)
          }), t > r && (l = n)), f = e.gridheight[l] || e.gridheight[0] || e.gridheight, s = e.gridwidth[l] || e.gridwidth[0] || e.gridwidth, h = i / s, h = h > 1 ? 1 : h, f = Math.round(h * f), "fullscreen" == e.sliderLayout) {
          var u = (e.c.width(), jQuery(window).height());
          if (void 0 != e.fullScreenOffsetContainer) {
            var c = e.fullScreenOffsetContainer.split(",");
            if (c) jQuery.each(c, function(e, i) {
              u = jQuery(i).length > 0 ? u - jQuery(i).outerHeight(!0) : u
            }), e.fullScreenOffset.split("%").length > 1 && void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 ? u -= jQuery(window).height() * parseInt(e.fullScreenOffset, 0) / 100 : void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 && (u -= parseInt(e.fullScreenOffset, 0))
          }
          f = u
        } else void 0 != e.minHeight && f < e.minHeight && (f = e.minHeight);
        e.c.closest(".rev_slider_wrapper").css({
          height: f
        })
      } catch (d) {
        console.log("Failure at Presize of Slider:" + d)
      }
    };
  </script>

  <noscript>
    <style type="text/css">
      .wpb_animate_when_almost_visible {
        opacity: 1;
      }
    </style>
  </noscript>

  <!-- <script type="text/javascript" src="//rstheme.com/products/wordpress/finoptis/wp-content/plugins/revslider/public/assets/js/extensions/revolution.extension.slideanims.min.js"></script>
  <script type="text/javascript" src="//rstheme.com/products/wordpress/finoptis/wp-content/plugins/revslider/public/assets/js/extensions/revolution.extension.layeranimation.min.js"></script>
  <script type="text/javascript" src="//rstheme.com/products/wordpress/finoptis/wp-content/plugins/revslider/public/assets/js/extensions/revolution.extension.navigation.min.js"></script> -->
</head>