<div class="menu-area">
  <div class="container-fluid">
    <div class="row-table">
      <div class="col-cell header-logo">
        <div class="logo-area"> <a href="/" rel="home"><img style="max-height: 62px" src="/images/cs-logo.png" alt="Finoptis Business WordPress Theme"></a></div>
        <div class="logo-area sticky-logo"> <a href="index.html" rel="home"><img src="/images/cs-logo.png" alt="Finoptis Business WordPress Theme"></a></div>
      </div>
      <div class="col-cell menu-responsive">
        <nav class="nav navbar">
          <div class="navbar-menu">
            <div class="menu-main-menu-container">
              <ul id="primary-menu-single" class="menu">
                <li id="home19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-238 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-2555">
                  <a href="/">Home</a>
                </li>
                <li id="menu-item-2210" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2210">
                  <a href="/#about">About</a>
                  <ul class="sub-menu">
                    <li id="menu-item-1803" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1803"><a href="https://www.ieee.org/">IEEE</a></li>
                    <li id="menu-item-1886" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1886"><a href="https://www.computer.org/">IEEE Computer Society</a></li>
                    <li id="menu-item-1886" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1886"><a href="/#about">IEEE Computer Society Kerala Chapter</a></li>
                    <li id="menu-item-1886" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1886"><a href="https://ieeekerala.org/">IEEE Kerala Section</a></li>
                  </ul>
                </li>
                <li id="ob19" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2180">
                  <a href="#">Office Bearers</a>
                  <ul class="sub-menu">
                    <li id="menu-item-2054" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2054"><a href="/office-bearers/2022">Present Officers | 2022</a></li>
                    <li id="menu-item-2116" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2116"><a href="#">Past
                        Officers</a>
                      <ul class="sub-menu">
                        <li id="menu-item-2054" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2054"><a href="/office-bearers/2021">2021</a></li>
                        <li id="menu-item-2054" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2054"><a href="/office-bearers/2020">2020</a></li>
                        <li id="menu-item-2054" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2054"><a href="/office-bearers/2019">2019</a></li>
                        <li id="menu-item-2054" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2054"><a href="/office-bearers/2018">2018</a></li>
                        <li id="menu-item-2054" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2054"><a href="/office-bearers/2017">2017</a></li>
                        <li id="menu-item-2054" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2054"><a href="/office-bearers/2016">2016</a></li>
                        <li id="menu-item-2054" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2054"><a href="/office-bearers/2015">2015</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li id="tt19" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2500">
                  <a href="#">Techthreads</a>
                  <ul class="sub-menu">
                    <li id="menu-item-2171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2171"><a href="#">Techthreads 2022</a>
                      <ul class="sub-menu">
                        <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/techthreads/2022-e1">Edition 1</a></li>
                      </ul>
                    </li>
                    <li id="menu-item-2171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2171"><a href="#">Techthreads 2021</a>
                      <ul class="sub-menu">
                        <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/techthreads/2021-e1">Quarter 1</a></li>
                        <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/techthreads/2021-e2">Quarter 2</a></li>
                        <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/techthreads/2021-e3">Quarter 3</a></li>
                        <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/techthreads/2021-e4">Quarter 4</a></li>
                      </ul>
                    </li>
                    <li id="menu-item-2171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2171"><a href="#">Previous Blogs</a>
                      <ul class="sub-menu">
                        <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/previous-blogs/2021">2021</a></li>
                        <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/previous-blogs/2020">2020</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li id="menu-item-2500" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2500">
                  <a href="#">Newsletters</a>
                  <ul class="sub-menu">
                    <li id="menu-item-2171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2171"><a href="#">2022</a>
                      <ul class="sub-menu">
                        <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/compile/2022/q1">Quarter 1</a></li>
                        <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/compile/2022/q2">Quarter 2</a></li>
                      </ul>
                    </li>
                    <li id="menu-item-2171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2171"><a href="#">2021</a>
                      <ul class="sub-menu">
                        <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/compile/2021/q1">Quarter 1</a></li>
                        <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/compile/2021/q2">Quarter 2</a></li>
                        <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/compile/2021/q3">Quarter 3</a></li>
                        <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/compile/2021/q4">Quarter 4</a></li>
                      </ul>
                    </li>
                    <li id="menu-item-2171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2171"><a href="#">2020</a>
                      <ul class="sub-menu">
                        <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/compile/2020/e1">Quarter 1</a></li>
                        <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/compile/2020/e2">Quarter 2</a></li>
                        <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/compile/2020/e3">Quarter 3</a></li>
                        <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/compile/2020/e4">Quarter 4</a></li>
                      </ul>
                    </li>
                    <li id="menu-item-2171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2171"><a href="#">2019</a>
                      <ul class="sub-menu">
                        <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/compile/2019/e1">Quarter 1</a></li>
                        <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/compile/2019/e2">Quarter 2</a></li>
                        <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/compile/2019/e4">Quarter 4</a></li>
                      </ul>
                    </li>
                    <li id="menu-item-2171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2171"><a href="#">2018</a>
                      <ul class="sub-menu">
                        <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/compile/2018/e1">Quarter 1</a></li>
                        <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/compile/2018/e2">Quarter 2</a></li>
                        <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/compile/2018/e3">Quarter 3</a></li>
                        <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/compile/2018/e4">Quarter 4</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li id="updates19" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-458">
                  <a href="/updates">Updates</a>
                </li>
                <li id="events19" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-458">
                  <a href="/events">Events</a>
                </li>
                <li id="sbcs19" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-458">
                  <a href="/sb-chapters">SB Chapters</a>
                </li>
              </ul>
            </div>
          </div>
          <div class='nav-link-container mobile-menu-link'> <a href='#' class="nav-menu-link"> <span class="hamburger1"></span> <span class="hamburger2"></span> <span class="hamburger3"></span>
            </a></div>
        </nav>
        <nav class="nav-container mobile-menu-container">
          <ul class="sidenav">
            <li class='nav-link-container'> <a href='#' class="nav-menu-link"> <span class="hamburger1"></span>
                <span class="hamburger3"></span> </a></li>
            <li>
              <div class="menu-main-menu-container">
                <ul id="primary-menu-single2" class="menu">
                  <li id="home19" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2210">
                    <a href="/">Home</a>
                  </li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2210">
                    <a href="/#about">About</a>
                    <ul class="sub-menu">
                      <li id="menu-item-1803" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1803"><a href="https://www.ieee.org/">IEEE</a></li>
                      <li id="menu-item-1886" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1886"><a href="https://www.computer.org/">IEEE Computer Society</a></li>
                      <!-- <li id="menu-item-1886" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1886"><a href="/#about">IEEE Computer Society Kerala Chapter</a></li> -->
                      <li id="menu-item-1886" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1886"><a href="https://ieeekerala.org/">IEEE Kerala Section</a></li>
                    </ul>
                  </li>
                  <li id="ob19" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2180">
                    <a href="#">Office Bearers</a>
                    <ul class="sub-menu">
                      <li id="menu-item-2054" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2054"><a href="/office-bearers/2022">Present Officers | 2022</a></li>
                      <li id="menu-item-2116" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2116"><a href="#">Past
                          Officers</a>
                        <ul class="sub-menu">
                          <li id="menu-item-2054" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2054"><a href="/office-bearers/2021">2021</a></li>
                          <li id="menu-item-2054" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2054"><a href="/office-bearers/2020">2020</a></li>
                          <li id="menu-item-2054" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2054"><a href="/office-bearers/2019">2019</a></li>
                          <li id="menu-item-2054" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2054"><a href="/office-bearers/2018">2018</a></li>
                          <li id="menu-item-2054" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2054"><a href="/office-bearers/2017">2017</a></li>
                          <li id="menu-item-2054" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2054"><a href="/office-bearers/2016">2016</a></li>
                          <li id="menu-item-2054" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2054"><a href="/office-bearers/2015">2015</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li id="tt19" class="mega four-col menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2390">
                    <a href="#">Techthreads</a>
                    <ul class="sub-menu">
                      <li id="menu-item-2171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2171"><a href="#">Techthreads 2022</a>
                        <ul class="sub-menu">
                          <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/techthreads/2022-e1">Edition 1</a></li>
                        </ul>
                      </li>
                      <li id="menu-item-2171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2171"><a href="#">Techthreads 2021</a>
                        <ul class="sub-menu">
                          <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/techthreads/2021-e1">Quarter 1</a></li>
                          <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/techthreads/2021-e2">Quarter 2</a></li>
                          <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/techthreads/2021-e3">Quarter 3</a></li>
                          <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/techthreads/2021-e4">Quarter 4</a></li>
                        </ul>
                      </li>
                      <li id="menu-item-2171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2171"><a href="#">Previous Blogs</a>
                        <ul class="sub-menu">
                          <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/previous-blogs/2021">2021</a></li>
                          <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/previous-blogs/2020">2020</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3753">
                    <a href="#">Newsletters</a>
                    <ul class="sub-menu">
                      <li id="menu-item-2171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2171"><a href="#">2022</a>
                        <ul class="sub-menu">
                          <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/compile/2022/q1">Quarter 1</a></li>
                          <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/compile/2022/q2">Quarter 2</a></li>
                        </ul>
                      </li>
                      <li id="menu-item-2171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2171"><a href="#">2021</a>
                        <ul class="sub-menu">
                          <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/compile/2021/q1">Quarter 1</a></li>
                          <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/compile/2021/q2">Quarter 2</a></li>
                          <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/compile/2021/q3">Quarter 3</a></li>
                          <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/compile/2021/q4">Quarter 4</a></li>
                        </ul>
                      </li>
                      <li id="menu-item-2171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2171"><a href="#">2020</a>
                        <ul class="sub-menu">
                          <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/compile/2020/e1">Quarter 1</a></li>
                          <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/compile/2020/e2">Quarter 2</a></li>
                          <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/compile/2020/e3">Quarter 3</a></li>
                          <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/compile/2020/e4">Quarter 4</a></li>
                        </ul>
                      </li>
                      <li id="menu-item-2171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2171"><a href="#">2019</a>
                        <ul class="sub-menu">
                          <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/compile/2019/e1">Quarter 1</a></li>
                          <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/compile/2019/e2">Quarter 2</a></li>
                          <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/compile/2019/e4">Quarter 4</a></li>
                        </ul>
                      </li>
                      <li id="menu-item-2171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2171"><a href="#">2018</a>
                        <ul class="sub-menu">
                          <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/compile/2018/e1">Quarter 1</a></li>
                          <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/compile/2018/e2">Quarter 2</a></li>
                          <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/compile/2018/e3">Quarter 3</a></li>
                          <li id="menu-item-2172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a href="/compile/2018/e4">Quarter 4</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li id="updates19" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2500">
                    <a href="/updates">Updates</a>
                  </li>
                  <li id="events19" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2500">
                    <a href="/events">Events</a>
                  </li>
                  <li id="sbcs19" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2500">
                    <a href="/sb-chapters">SB Chapters</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>