<body
  class="home page-template-default page page-id-238 woocommerce-no-js wpb-js-composer js-comp-ver-5.6 vc_responsive">
  <!-- <div id="loading">
  <div class="loader">
    <div class="loader__bar"></div>
    <div class="loader__bar"></div>
    <div class="loader__bar"></div>
    <div class="loader__bar"></div>
    <div class="loader__bar"></div>
    <div class="loader__ball"></div>
  </div>
</div> -->
  <div id="page" class="site ">
    <header id="rs-header" class="single-header header-style1">
      <div class="header-inner  menu-sticky">
        <div class="menu-area">
          <div class="container-fluid">
            <div class="row-table">
              <div class="col-cell header-logo">
                <div class="logo-area"> <a href="index.html" rel="home"><img style="max-height: 62px"
                      src="/images/cs-logo.png" alt="Finoptis Business WordPress Theme"></a></div>
                <div class="logo-area sticky-logo"> <a href="index.html" rel="home"><img src="images/cs-logo.png"
                      alt="Finoptis Business WordPress Theme"></a></div>
              </div>
              <div class="col-cell menu-responsive">
                <nav class="nav navbar">
                  <div class="navbar-menu">
                    <div class="menu-main-menu-container">
                      <ul id="primary-menu-single" class="menu">
                        <li id="menu-item-2555"
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-238 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-2555">
                          <a href="/">Home</a>
                        </li>
                        <li id="menu-item-2210"
                          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2210">
                          <a href="/#about">About</a>
                          <ul class="sub-menu">
                            <li id="menu-item-1803"
                              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1803"><a
                                href="https://www.ieee.org/">IEEE</a></li>
                            <li id="menu-item-1886"
                              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1886"><a
                                href="https://www.computer.org/">IEEE Computer Society</a></li>
                            <li id="menu-item-1886"
                              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1886"><a
                                href="/#about">IEEE Computer Society Kerala Chapter</a></li>
                            <li id="menu-item-1886"
                              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1886"><a
                                href="https://ieeekerala.org/">IEEE Kerala Section</a></li>
                          </ul>
                        </li>
                        <li id="menu-item-2180"
                          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2180">
                          <a href="#">Office Bearers</a>
                          <ul class="sub-menu">
                            <li id="menu-item-2054"
                              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2054"><a
                                href="services/index.html">Present Officers | 2022</a></li>
                            <li id="menu-item-2116"
                              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2116"><a
                                href="services-two/index.html">Past Officers</a>
                              <ul class="sub-menu">
                                <li id="menu-item-2054"
                                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2054"><a
                                    href="services/index.html">2021</a></li>
                                <li id="menu-item-2054"
                                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2054"><a
                                    href="services/index.html">2020</a></li>
                                <li id="menu-item-2054"
                                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2054"><a
                                    href="services/index.html">2019</a></li>
                                <li id="menu-item-2054"
                                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2054"><a
                                    href="services/index.html">2018</a></li>
                                <li id="menu-item-2054"
                                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2054"><a
                                    href="services/index.html">2017</a></li>
                                <li id="menu-item-2054"
                                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2054"><a
                                    href="services/index.html">2016</a></li>
                                <li id="menu-item-2054"
                                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2054"><a
                                    href="services/index.html">2015</a></li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                        <li id="menu-item-2500"
                          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2500">
                          <a href="#">Techthreads</a>
                          <ul class="sub-menu">
                            <li id="menu-item-2171"
                              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2171"><a
                                href="blog/index.html">Techthreads 2022</a>
                              <ul class="sub-menu">
                                <li id="menu-item-2172"
                                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a
                                    href="blog-2-column/index.html">Edition 1</a></li>
                              </ul>
                            </li>
                            <li id="menu-item-2171"
                              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2171"><a
                                href="blog/index.html">Techthreads 2021</a>
                              <ul class="sub-menu">
                                <li id="menu-item-2172"
                                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a
                                    href="blog-2-column/index.html">Quarter 1</a></li>
                                <li id="menu-item-2172"
                                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a
                                    href="blog-2-column/index.html">Quarter 2</a></li>
                                <li id="menu-item-2172"
                                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a
                                    href="blog-2-column/index.html">Quarter 3</a></li>
                                <li id="menu-item-2172"
                                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a
                                    href="blog-2-column/index.html">Quarter 4</a></li>
                              </ul>
                            </li>
                            <li id="menu-item-2171"
                              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2171"><a
                                href="blog/index.html">Previous Blogs</a>
                              <ul class="sub-menu">
                                <li id="menu-item-2172"
                                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a
                                    href="blog-2-column/index.html">2021</a></li>
                                <li id="menu-item-2172"
                                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a
                                    href="blog-2-column/index.html">2020</a></li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                        <li id="menu-item-2500"
                          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2500">
                          <a href="#">Newsletters</a>
                          <ul class="sub-menu">
                            <li id="menu-item-2171"
                              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2171"><a
                                href="blog/index.html">2022</a>
                              <ul class="sub-menu">
                                <li id="menu-item-2172"
                                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a
                                    href="compile/2022/q1/compile.html">Quarter 1</a></li>
                              </ul>
                            </li>
                            <li id="menu-item-2171"
                              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2171"><a
                                href="blog/index.html">2021</a>
                              <ul class="sub-menu">
                                <li id="menu-item-2172"
                                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a
                                    href="compile/2021/q1/compile.html">Quarter 1</a></li>
                                <li id="menu-item-2172"
                                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a
                                    href="compile/2021/q2/compile.html">Quarter 2</a></li>
                                <li id="menu-item-2172"
                                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a
                                    href="compile/2021/q3/compile.html">Quarter 3</a></li>
                                <li id="menu-item-2172"
                                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a
                                    href="compile/2021/q4/compile.html">Quarter 4</a></li>
                              </ul>
                            </li>
                            <li id="menu-item-2171"
                              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2171"><a
                                href="blog/index.html">2020</a>
                              <ul class="sub-menu">
                                <li id="menu-item-2172"
                                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a
                                    href="compile/2020/e1/e1.html">Quarter 1</a></li>
                                <li id="menu-item-2172"
                                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a
                                    href="compile/2020/e2/e2.html">Quarter 2</a></li>
                                <li id="menu-item-2172"
                                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a
                                    href="compile/2020/e3/e3.html">Quarter 3</a></li>
                                <li id="menu-item-2172"
                                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a
                                    href="compile/2020/e4/e4.html">Quarter 4</a></li>
                              </ul>
                            </li>
                            <li id="menu-item-2171"
                              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2171"><a
                                href="blog/index.html">2019</a>
                              <ul class="sub-menu">
                                <li id="menu-item-2172"
                                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a
                                    href="compile/2019/e1/e1.html">Quarter 1</a></li>
                                <li id="menu-item-2172"
                                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a
                                    href="compile/2019/e2/e2.html">Quarter 2</a></li>
                                <li id="menu-item-2172"
                                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a
                                    href="compile/2019/e4/e4.html">Quarter 4</a></li>
                              </ul>
                            </li>
                            <li id="menu-item-2171"
                              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2171"><a
                                href="blog/index.html">2018</a>
                              <ul class="sub-menu">
                                <li id="menu-item-2172"
                                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a
                                    href="compile/2018/e1/e1.html">Quarter 1</a></li>
                                <li id="menu-item-2172"
                                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a
                                    href="compile/2018/e2/e2.html">Quarter 2</a></li>
                                <li id="menu-item-2172"
                                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a
                                    href="compile/2018/e3/e3.html">Quarter 3</a></li>
                                <li id="menu-item-2172"
                                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172"><a
                                    href="compile/2018/e4/e4.html">Quarter 4</a></li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                        <li id="menu-item-2555"
                          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-458">
                          <a href="/updates">Updates</a>
                        </li>
                        <li id="menu-item-2555"
                          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-458">
                          <a href="/events">Events</a>
                        </li>
                        <li id="menu-item-2555"
                          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-458">
                          <a href="/sb-chapters">SB Chapters</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class='nav-link-container mobile-menu-link'> <a href='#' class="nav-menu-link"> <span
                        class="hamburger1"></span> <span class="hamburger2"></span> <span class="hamburger3"></span>
                    </a></div>
                </nav>
                <nav class="nav-container mobile-menu-container">
                  <ul class="sidenav">
                    <li class='nav-link-container'> <a href='#' class="nav-menu-link"> <span class="hamburger1"></span>
                        <span class="hamburger3"></span> </a></li>
                    <li>
                      <div class="menu-main-menu-container">
                        <ul id="primary-menu-single2" class="menu">
                          <li
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-238 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-2555">
                            <a href="/">Home</a>
                            <ul class="sub-menu">
                              <li
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-238 current_page_item menu-item-2556">
                                <a href="index.html">Home 1</a>
                              </li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-241"><a
                                  href="home-2/index.html">Home 2</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3329"><a
                                  href="home-3/index.html">Home 3</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3810"><a
                                  href="home-onepage/index.html">Home Onepage</a></li>
                            </ul>
                          </li>
                          <li
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2210">
                            <a href="#">About Us</a>
                            <ul class="sub-menu">
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1803"><a
                                  href="about-us/index.html">About Us One</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1886"><a
                                  href="about-us-two/index.html">About Us Two</a></li>
                            </ul>
                          </li>
                          <li
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2180">
                            <a href="#">Services</a>
                            <ul class="sub-menu">
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2054"><a
                                  href="services/index.html">Services One</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2116"><a
                                  href="services-two/index.html">Services Two</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2131"><a
                                  href="services-three/index.html">Services Three</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2692"><a
                                  href="services-four/index.html">Services Four</a></li>
                              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3463"><a
                                  href="service/business-consulting/index.html">Services Single</a></li>
                            </ul>
                          </li>
                          <li
                            class="mega four-col menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2390">
                            <a href="#">Pages</a>
                            <ul class="sub-menu">
                              <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2324">
                                <a href="#">Header</a>
                                <ul class="sub-menu">
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2329">
                                    <a href="header-style-1/index.html">Header Style 1</a>
                                  </li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2328">
                                    <a href="header-style-2/index.html">Header Style 2</a>
                                  </li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2327">
                                    <a href="header-style-3/index.html">Header Style 3</a>
                                  </li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2326">
                                    <a href="header-style-4/index.html">Header Style 4</a>
                                  </li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2325">
                                    <a href="header-style-5/index.html">Header Style 5</a>
                                  </li>
                                </ul>
                              </li>
                              <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2630">
                                <a href="#">Team</a>
                                <ul class="sub-menu">
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2627">
                                    <a href="team-one/index.html">Team One</a>
                                  </li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2629">
                                    <a href="team-two/index.html">Team Two</a>
                                  </li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2628">
                                    <a href="team-three/index.html">Team Three</a>
                                  </li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2626">
                                    <a href="team-four/index.html">Team Four</a>
                                  </li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2625">
                                    <a href="team-five/index.html">Team Five</a>
                                  </li>
                                </ul>
                              </li>
                              <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2382">
                                <a href="#">Projects</a>
                                <ul class="sub-menu">
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2383">
                                    <a href="project-2-column/index.html">Project 2 Column</a>
                                  </li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2388">
                                    <a href="project-3-column/index.html">Project 3 Column</a>
                                  </li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2497">
                                    <a href="project-4-column/index.html">Project 4 Column</a>
                                  </li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2413">
                                    <a href="project-full-width/index.html">Project Full Width</a>
                                  </li>
                                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2406">
                                    <a href="portfolio/evaluating-the-use-of-the-web-tourism-marketing/index.html">Project
                                      Single</a>
                                  </li>
                                </ul>
                              </li>
                              <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2867">
                                <a href="#">Others</a>
                                <ul class="sub-menu">
                                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2973">
                                    <a href="product/coffee-maker/index.html">Shop Single</a>
                                  </li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2968">
                                    <a href="cart/index.html">Cart</a>
                                  </li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2969">
                                    <a href="checkout/index.html">Checkout</a>
                                  </li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2970">
                                    <a href="my-account/index.html">My account</a>
                                  </li>
                                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3748">
                                    <a href="404.html">404</a>
                                  </li>
                                </ul>
                              </li>
                            </ul>
                          </li>
                          <li
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3753">
                            <a href="#">Shop</a>
                            <ul class="sub-menu">
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3752"><a
                                  href="shop/index.html">Shop</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3750"><a
                                  href="shop-2-column-grid/index.html">Shop 2 Column Grid</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3751"><a
                                  href="shop-3-column-grid/index.html">Shop 3 Column Grid</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3749"><a
                                  href="shop-4-column-grid/index.html">Shop 4 Column Grid</a></li>
                            </ul>
                          </li>
                          <li
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2500">
                            <a href="#">Blog</a>
                            <ul class="sub-menu">
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2171"><a
                                  href="blog/index.html">Blog</a></li>
                              <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2174">
                                <a href="#">Blog Grid</a>
                                <ul class="sub-menu">
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2172">
                                    <a href="blog-2-column/index.html">Blog 2 Column</a>
                                  </li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2182">
                                    <a href="blog-3-column/index.html">Blog 3 Column</a>
                                  </li>
                                </ul>
                              </li>
                              <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2175">
                                <a href="#">Blog Sidebar</a>
                                <ul class="sub-menu">
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2193">
                                    <a href="blog-left-sidebar-2/index.html">Blog Left Sidebar</a>
                                  </li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2192">
                                    <a href="blog-right-sidebar/index.html">Blog Right Sidebar</a>
                                  </li>
                                </ul>
                              </li>
                              <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2501">
                                <a href="#">Single Post</a>
                                <ul class="sub-menu">
                                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2503">
                                    <a href="business-needs-customers/index.html">Post With Left Sidebar</a>
                                  </li>
                                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2505">
                                    <a href="big-ideas-for-business/index.html">Post with Right Sidebar</a>
                                  </li>
                                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2502">
                                    <a href="small-business-trends/index.html">Full Width Post</a>
                                  </li>
                                </ul>
                              </li>
                            </ul>
                          </li>
                          <li
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-458">
                            <a href="#contact">Contact Us</a>
                            <ul class="sub-menu">
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2912"><a
                                  href="contact/index.html">Contact 1</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2913"><a
                                  href="contact-2/index.html">Contact 2</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3067"><a
                                  href="contact-3/index.html">Contact 3</a></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="social-icon-responsive">
                      <ul class="offcanvas_social">
                        <li> <a href="#" target="_blank"><span><i class="fa fa-facebook"></i></span></a></li>
                        <li> <a href="# " target="_blank"><span><i class="fa fa-twitter"></i></span></a></li>
                        <li> <a href="# " target="_blank"><span><i class="fa fa-rss"></i></span></a></li>
                        <li> <a href="# " target="_blank"><span><i class="fa fa-linkedin"></i></span></a></li>
                        <li> <a href="# " target="_blank"><span><i class="fa fa-instagram"></i></span></a></li>
                      </ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>