<%- include ("partials/head"); %>
<%- include ("partials/navbar"); %>


<link href="https://fonts.googleapis.com/css?family=Poppins:600%2C800%2C900%7CMuli:600%2C400%7CRoboto:500" rel="stylesheet" property="stylesheet" type="text/css" media="all">
<div id="page" class="site">
  <div class="landing">
    hha
  </div>
  <div class="main-contain">
    <div class="container">
      <div id="content" class="site-content">
        <div class="row padding-">
          <div class="col-md-12 ">
            <article id="post-238" class="post-238 page type-page status-publish hentry">
              <div class="entry-content">
                <div class="vc_row-full-width vc_clearfix"></div>
                <div id="about" data-vc-full-width="true" data-vc-full-width-init="false" data-vc-parallax="1.5" data-vc-parallax-image="https://rstheme.com/products/wordpress/finoptis/wp-content/uploads/2018/11/about2.jpg" class="vc_row wpb_row vc_row-fluid vc_custom_1542609842417 vc_row-has-fill vc_row-o-content-middle vc_row-flex vc_general vc_parallax vc_parallax-content-moving">
                  <div class="wpb_column vc_column_container vc_col-sm-6">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_left">
                          <figure class="wpb_wrapper vc_figure">
                            <div class="vc_single_image-wrapper vc_box_rounded  vc_box_border_grey"><img width="550" height="560" src="/images/slash-key.jpg" class="vc_single_image-img attachment-full" alt="" sizes="(max-width: 550px) 100vw, 550px" /></div>
                          </figure>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-6">
                    <div class="vc_column-inner vc_custom_1544088861967">
                      <div class="wpb_wrapper">
                        <div class="rs-heading   vc_custom_1544088965862 mmb-30 ">
                          <div class="title-inner">
                            <!-- <span style="color: #28406d" class="sub-text">[About Us]</span> -->
                            <h2 class="title">IEEE Computer Society Kerala Chapter</h2>
                          </div>
                        </div>
                        <p>The IEEE Computer Society is the world’s leading membership organization
                          dedicated to computer science and technology. Serving more than 60,000
                          members, the IEEE Computer Society is the trusted information, networking,
                          and career-development source for a global community of technology leaders
                          that includes researchers, educators, software engineers, IT
                          professionals,
                          employers, and students. The IEEE Computer Society Kerala Chapter has 145
                          professional members and 2051 student members.</p>
                        <div class="rs-btn btn-left"> <a data-onhovercolor="#222222" data-onhoverbg="" data-onleavebg="" data-onleavecolor="" class="readon rs_button join-btn" href="https://www.computer.org/membership"><span>Join IEEE Computer Scoiety</span></a></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="vc_row-full-width vc_clearfix"></div>
                <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid home1-services vc_custom_1543466383016 vc_row-has-fill vc_row-o-content-bottom vc_row-flex features-box">
                  <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div class="vc_row wpb_row vc_inner vc_row-fluid">
                          <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner vc_custom_1542178206984">
                              <div class="wpb_wrapper">
                                <div class="rs-heading style3 light  vc_custom_1544692758318 features-heading">
                                  <div class="title-inner">
                                    <!-- <span style="color: #e2c60c" class="sub-text">[Benefits]</span> -->
                                    <h2 class="title" style="color: #ffffff">Belong Where Technology Innovators
                                      Thrive
                                    </h2>
                                  </div>
                                  <div class="description">
                                    <p style="color: #ffffff">Become part of the community of computing leaders
                                      driving the future of technology.</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="vc_row wpb_row vc_inner vc_row-fluid">
                          <div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="vc_column-inner vc_custom_1542178206984">
                              <div class="wpb_wrapper">
                                <div class="services-main rs-services-default  services-left" data-icon-hover="#ccc" data-icon-hoverbg="" data-icon-bg="" data-icon-color="#e2c606">
                                  <div class="services-wrap  vc_custom_1543986671267 ">
                                    <div class="services-item">
                                      <div class="services-icon "><i class="fa-solid fa-award" aria-hidden="true" style="color: #e2c606;"></i></div>
                                      <div class="services-desc">
                                        <h2 class="services-title"><a data-onhovercolor="#222" data-onleavecolor="#ffffff" style="color: #ffffff;">Apply For
                                            Scholarships
                                            And Awards</a></h2>
                                        <p style="color: #ffffff" class="feature-text">Discover the more than US $40,000 in scholarships
                                          plus travel grants from the IEEE Computer Society. Richard E. Merwin
                                          Student
                                          Scholarship for those who are actively involved in their chapter and show
                                          academic promise. Lance Stafford Larson Student Best Paper Award for
                                          papers
                                          presented at a computer-related conference or in a publication. Upsilion
                                          Pi
                                          Epsilon Award for students with exceptional academic achievement.</p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="vc_column-inner vc_custom_1542177916485">
                              <div class="wpb_wrapper">
                                <div class="services-main rs-services-default  services-left" data-icon-hover="#ccc" data-icon-hoverbg="" data-icon-bg="" data-icon-color="#e2c606">
                                  <div class="services-wrap  vc_custom_1543986981338 ">
                                    <div class="services-item">
                                      <div class="services-icon "><i class="fa-solid fa-book" aria-hidden="true" style="color: #e2c606;"></i></div>
                                      <div class="services-desc">
                                        <h2 class="services-title"><a data-onhovercolor="#222" data-onleavecolor="#ffffff" style="color: #ffffff;">Discover The IEEE
                                            CS Digital Library</a></h2>
                                        <p style="color: #ffffff">As a student member, you get access to the
                                          ultimate
                                          collection of technical periodicals and conference publications. The
                                          latest
                                          research from 37 peer-reviewed magazines and journals, covering the whole
                                          spectrum of computing. 9,000+ conference publications from around the
                                          world—at your fingertips to help with your research. 700,000 documents
                                          from
                                          more than 300,000 content experts covering virtually every computing
                                          topic.
                                        </p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="vc_column-inner vc_custom_1542177947484">
                              <div class="wpb_wrapper">
                                <div class="services-main rs-services-default  services-left" data-icon-hover="#ccc" data-icon-hoverbg="" data-icon-bg="" data-icon-color="#e2c606">
                                  <div class="services-wrap  vc_custom_1543986970122 ">
                                    <div class="services-item">
                                      <div class="services-icon "><i class="fa-solid fa-certificate" aria-hidden="true" style="color: #e2c606;"></i></div>
                                      <div class="services-desc">
                                        <h2 class="services-title"><a data-onhovercolor="#222" data-onleavecolor="#ffffff" style="color: #ffffff;">Empower Yourself
                                            Through Certification</a>
                                        </h2>
                                        <p style="color: #ffffff">Get your foot in the door with an IT, desktop, or
                                          business certification. IT Skills & Certifications – Security, cloud
                                          computing, software development, networking, PMI, and more. Desktop &
                                          Certifications – MS Office (Windows and iOS), Adobe, coding, Python,
                                          computing fundamentals, and internet skills. Business & Leadership Skills
                                          –
                                          Leadership development, business acumen, building teams, self-management,
                                          communication skills, and more.</p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="vc_row-full-width vc_clearfix"></div>
                <div id="updates" data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid blog-gap vc_custom_1544169667700 vc_row-has-fill">
                  <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div class="rs-heading style3  vc_custom_1543920863426  ">
                          <div class="title-inner">
                            <!-- <span style="color: #28406d" class="sub-text">[News]</span> -->
                            <h2 class="title">Updates</h2>
                          </div>
                          <div class="description">
                            <p>Latest Updates from the IEEE Computer Society Kerala Chapter.</p>
                          </div>
                        </div>
                        <div class="rs-blog home-blog-area ">
                          <div class="blog-carousel blog-slider owl-carousel owl-navigation-yes" data-carousel-options="{&quot;nav&quot;:false,&quot;navText&quot;:[&quot;&lt;i class=&#039;icofont icofont-bubble-left&#039;&gt;&lt;\/i&gt;&quot;,&quot;&lt;i class=&#039;icofont icofont-bubble-right&#039;&gt;&lt;\/i&gt;&quot;],&quot;dots&quot;:true,&quot;autoplay&quot;:true,&quot;autoplayTimeout&quot;:&quot;5000&quot;,&quot;stagePadding&quot;:0,&quot;autoplaySpeed&quot;:&quot;200&quot;,&quot;autoplayHoverPause&quot;:true,&quot;loop&quot;:true,&quot;margin&quot;:20,&quot;items&quot;:3,&quot;responsive&quot;:{&quot;0&quot;:{&quot;items&quot;:&quot;1&quot;},&quot;480&quot;:{&quot;items&quot;:&quot;1&quot;},&quot;768&quot;:{&quot;items&quot;:&quot;2&quot;},&quot;992&quot;:{&quot;items&quot;:&quot;3&quot;},&quot;1200&quot;:{&quot;items&quot;:&quot;3&quot;}}}">
                            <% for(let i=0; i < 6; i++) { %>
                            <div class="blog-item style2 ">
                              <div class="blog-img content-overlay"> <img width="1200" height="800" src="images/2.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://rstheme.com/products/wordpress/finoptis/wp-content/uploads/2018/11/2.jpg 1200w, https://rstheme.com/products/wordpress/finoptis/wp-content/uploads/2018/11/2-365x243.jpg 365w, https://rstheme.com/products/wordpress/finoptis/wp-content/uploads/2018/11/2-600x400.jpg 600w, https://rstheme.com/products/wordpress/finoptis/wp-content/uploads/2018/11/2-300x200.jpg 300w, https://rstheme.com/products/wordpress/finoptis/wp-content/uploads/2018/11/2-768x512.jpg 768w, https://rstheme.com/products/wordpress/finoptis/wp-content/uploads/2018/11/2-1024x683.jpg 1024w" sizes="(max-width: 1200px) 100vw, 1200px" />
                                <div class="blog-date"> <span class="date">19 </span> <span class="month">Nov
                                  </span>
                                </div>
                              </div>
                              <div class="blog-meta">
                                <h3 class="blog-title"><a href="/updates/update">Small
                                    Business Trends</a></h3>
                              </div>
                              <!-- <div class="blog-slidermeta blog-date"> <span class="author">By admin</span><span
                                          class="seperator">/</span> <span class="category"><a
                                            href="category/corporate/index.html">Corporate</a></span></div> -->
                              <div class="home_full_blog slider-blog-title">
                                <div class="blog-desc"> Below are the original Latin passages We denounce with
                                  righteous indignation and dislike men who are so beguiled and demoralized by
                                  the...
                                </div>
                              </div>
                            </div>
                            <% } %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="vc_row-full-width vc_clearfix"></div>
                <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1542443423538 vc_row-has-fill vc_row-o-content-middle vc_row-flex stats">
                  <div class="wpb_column vc_column_container vc_col-sm-6">
                    <div class="vc_column-inner vc_custom_1542784966797">
                      <div class="wpb_wrapper">
                        <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1545304777733">
                          <div class="mmb-30 wpb_column vc_column_container vc_col-sm-6">
                            <div class="vc_column-inner">
                              <div class="wpb_wrapper">
                                <div class="counter-top-area text-center " style="background-image: url(wp-content/uploads/2018/11/dark-mosaic.png)">
                                  <div class="rs-counter-list">
                                    <div class="count-text">
                                      <div style="margin-top:0px; margin-bottom:4px; color:#e2c606" class="count-number"> <span style="font-size:60px; line-height:60px; color:#e2c606" class="rs-counter">
                                          37</span> <span style="color:#e2c606"><span style="font-size:20px; line-height:20px"></span></span></div>
                                      <h4 style="color: #ffffff"><span style="font-size: 20px; line-height: 20px!important">SB Chapters</span>
                                      </h4>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="wpb_column vc_column_container vc_col-sm-6">
                            <div class="vc_column-inner">
                              <div class="wpb_wrapper">
                                <div class="counter-top-area text-center " style="background-image: url(wp-content/uploads/2018/11/dark-mosaic.png)">
                                  <div class="rs-counter-list">
                                    <div class="count-text">
                                      <div style="margin-top:0px; margin-bottom:4px; color:#e2c606" class="count-number"> <span style="font-size:60px; line-height:60px; color:#e2c606" class="rs-counter">
                                          99</span> <span style="color:#e2c606"><span style="font-size:20px; line-height:20px"></span></span></div>
                                      <h4 style="color: #ffffff"><span style="font-size: 20px; line-height: 20px!important">Professional
                                          Members</span>
                                      </h4>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1545304818805">
                          <div class="mmb-30 wpb_column vc_column_container vc_col-sm-6">
                            <div class="vc_column-inner">
                              <div class="wpb_wrapper">
                                <div class="counter-top-area text-center " style="background-image: url(wp-content/uploads/2018/11/dark-mosaic.png)">
                                  <div class="rs-counter-list">
                                    <div class="count-text">
                                      <div style="margin-top:0px; margin-bottom:4px; color:#e2c606" class="count-number"> <span style="font-size:60px; line-height:60px; color:#e2c606" class="rs-counter">
                                          1898</span> <span style="color:#e2c606"></span></div>
                                      <h4 style="color: #ffffff"><span style="font-size: 20px; line-height: 20px!important">Student
                                          Members</span>
                                      </h4>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="wpb_column vc_column_container vc_col-sm-6">
                            <div class="vc_column-inner">
                              <div class="wpb_wrapper">
                                <div class="counter-top-area text-center " style="background-image: url(wp-content/uploads/2018/11/dark-mosaic.png)">
                                  <div class="rs-counter-list">
                                    <div class="count-text">
                                      <div style="margin-top:0px; margin-bottom:4px; color:#e2c606" class="count-number"> <span style="font-size:60px; line-height:60px; color:#e2c606" class="rs-counter">
                                          8</span> <span style="color:#e2c606"></span></div>
                                      <h4 style="color: #ffffff"><span style="font-size: 20px; line-height: 20px!important">Years Of
                                          Experience</span>
                                      </h4>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-6">
                    <div class="vc_column-inner vc_custom_1542784961365">
                      <div class="wpb_wrapper">
                        <div class="rs-heading style3 light  vc_custom_1545304997702  ">
                          <div class="title-inner"> <span style="color: #e2c60c" class="sub-text">[Since
                              2015]</span>
                            <h2 class="title" style="color: #ffffff">Our Growth</h2>
                          </div>
                          <div class="description">
                            <p style="color: #ffffff">
                              The IEEE Computer Society Kerala Chapter (IEEE CSKS) has time and time again proved to be worthy of its position of the leading membership organization in Kerala. From our humble beginnings in 2015, we had a massive influx of members culminating to almost 2672 members in 2022. With 244 professional members and 2401 student members, the IEEE Computer Society Kerala Chapter continues its reign of being the largest in the world.</p>
                          </div>
                        </div>
                        <div class="rs-btn btn-left"> <a data-onhovercolor="#222222" data-onhoverbg="" data-onleavebg="#e2c60c" data-onleavecolor="#212121" class="readon rs_button " href="/sb-chapters" style="color:#212121;background:#e2c60c;border: none;">SB Chapters</a></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="vc_row-full-width vc_clearfix"></div>
                <div id="events" data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid blog-gap vc_custom_1544169667700 vc_row-has-fill">
                  <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div class="rs-heading style3  vc_custom_1543920863426  ">
                          <div class="title-inner">
                            <!-- <span style="color: #28406d" class="sub-text">[News]</span> -->
                            <h2 class="title">Events</h2>
                          </div>
                          <div class="description">
                            <p>Accelerating innovative young minds.</p>
                          </div>
                        </div>
                        <div class="rs-blog home-blog-area ">
                          <div class="blog-carousel blog-slider owl-carousel owl-navigation-yes" data-carousel-options="{&quot;nav&quot;:false,&quot;navText&quot;:[&quot;&lt;i class=&#039;icofont icofont-bubble-left&#039;&gt;&lt;\/i&gt;&quot;,&quot;&lt;i class=&#039;icofont icofont-bubble-right&#039;&gt;&lt;\/i&gt;&quot;],&quot;dots&quot;:true,&quot;autoplay&quot;:true,&quot;autoplayTimeout&quot;:&quot;5000&quot;,&quot;stagePadding&quot;:0,&quot;autoplaySpeed&quot;:&quot;200&quot;,&quot;autoplayHoverPause&quot;:true,&quot;loop&quot;:true,&quot;margin&quot;:20,&quot;items&quot;:3,&quot;responsive&quot;:{&quot;0&quot;:{&quot;items&quot;:&quot;1&quot;},&quot;480&quot;:{&quot;items&quot;:&quot;1&quot;},&quot;768&quot;:{&quot;items&quot;:&quot;2&quot;},&quot;992&quot;:{&quot;items&quot;:&quot;3&quot;},&quot;1200&quot;:{&quot;items&quot;:&quot;3&quot;}}}">
                            <% for(let i=0; i < 6; i++) { %>
                            <div class="blog-item style2 ">
                              <div class="blog-img content-overlay"> <img width="1200" height="800" src="images/2.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://rstheme.com/products/wordpress/finoptis/wp-content/uploads/2018/11/2.jpg 1200w, https://rstheme.com/products/wordpress/finoptis/wp-content/uploads/2018/11/2-365x243.jpg 365w, https://rstheme.com/products/wordpress/finoptis/wp-content/uploads/2018/11/2-600x400.jpg 600w, https://rstheme.com/products/wordpress/finoptis/wp-content/uploads/2018/11/2-300x200.jpg 300w, https://rstheme.com/products/wordpress/finoptis/wp-content/uploads/2018/11/2-768x512.jpg 768w, https://rstheme.com/products/wordpress/finoptis/wp-content/uploads/2018/11/2-1024x683.jpg 1024w" sizes="(max-width: 1200px) 100vw, 1200px" />
                                <div class="blog-date"> <span class="date">19 </span> <span class="month">Nov
                                  </span>
                                </div>
                              </div>
                              <div class="blog-meta">
                                <h3 class="blog-title"><a href="/events/event">Small
                                    Business Trends</a></h3>
                              </div>
                              <!-- <div class="blog-slidermeta blog-date"> <span class="author">By admin</span><span
                                          class="seperator">/</span> <span class="category"><a
                                            href="category/corporate/index.html">Corporate</a></span></div> -->
                              <div class="home_full_blog slider-blog-title">
                                <div class="blog-desc"> Below are the original Latin passages We denounce with
                                  righteous indignation and dislike men who are so beguiled and demoralized by
                                  the...
                                </div>
                              </div>
                            </div>
                            <% } %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="vc_row-full-width vc_clearfix"></div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>


  <%- include ("partials/footer"); %>