.admin-btns {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
}

.event-item {
  background: #fff;
}

.bottom-shadow1 {
  padding-top: 1.25rem !important;
}

.blog-title {
  font-size: 1.25rem;
  margin-bottom: 1rem !important;
}

.event-card {
  padding: 1rem;
  background: #eeeeee;
  border-radius: 1rem;
}

.admin-form {
  margin-bottom: 6rem;
}

.admin-form textarea {
  margin-top: 1.5rem;
  height: 300px;
}

.admin-form button {
  width: 250px;
  padding: 0.75rem 1rem;
}

.admin-form .mini-width-field {
  /* margin-bottom: 1.5rem; */
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: start;
  column-gap: 4rem;
  margin-bottom: 1.5rem;
}