<%- include ("../partials/head"); %>
  <%- include ("../partials/navbar-shadow"); %>

    <div id="page" class="site ">
      <div class="main-contain updates-padding">
        <div class="container">
          <div id="content" class="site-content">
            <div class="rs-heading style3  vc_custom_1543920863426  ">
              <div class="title-inner">
                <!-- <span style="color: #28406d" class="sub-text">[News]</span> -->
                <h2 class="title" style="margin-bottom: 0;">Office Bearers | 2015</h2>
              </div>
              <!-- <div class="description">
					<p>Accelerating innovative young minds.</p>
				</div> -->
            </div>
            <div class="row mb-5">
              <div class="col-md-12 ">
                <article id="post-2220" class="post-2220 page type-page status-publish hentry">
                  <div class="entry-content">
                    <div class="vc_row wpb_row vc_row-fluid">
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                          <div class="wpb_wrapper">
                            <div class="rs-team-grid rs-team team-grid-style1">
                              <div class="row">

                                <div class="col-md-3 col-sm-6 col-xs-12">
                                  <div class="team-item">
                                    <div class="team-inner-wrap"> <a> <img
                                          src="../wp-content/uploads/2018/11/teamh5_3.jpg" alt="Piter More" /> </a>
                                      <div class="team-content1">
                                        <h3 class="team-name" style="margin-bottom: 0;"><a>Piter More</a>
                                        </h3>
                                        <span class="team-title">Business Planner</span>
                                      </div>
                                      <div class="social-icons1"> <a href="#" class="social-icon"><i
                                            class="fa fa-linkedin"></i></a></div>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-12">
                                  <div class="team-item">
                                    <div class="team-inner-wrap"> <a> <img
                                          src="../wp-content/uploads/2018/11/teamh5_3.jpg" alt="Piter More" /> </a>
                                      <div class="team-content1">
                                        <h3 class="team-name" style="margin-bottom: 0;"><a>Piter More</a>
                                        </h3>
                                        <span class="team-title">Business Planner</span>
                                      </div>
                                      <div class="social-icons1"> <a href="#" class="social-icon"><i
                                            class="fa fa-linkedin"></i></a></div>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-12">
                                  <div class="team-item">
                                    <div class="team-inner-wrap"> <a> <img
                                          src="../wp-content/uploads/2018/11/teamh5_3.jpg" alt="Piter More" /> </a>
                                      <div class="team-content1">
                                        <h3 class="team-name" style="margin-bottom: 0;"><a>Piter More</a>
                                        </h3>
                                        <span class="team-title">Business Planner</span>
                                      </div>
                                      <div class="social-icons1"> <a href="#" class="social-icon"><i
                                            class="fa fa-linkedin"></i></a></div>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-12">
                                  <div class="team-item">
                                    <div class="team-inner-wrap"> <a> <img
                                          src="../wp-content/uploads/2018/11/teamh5_3.jpg" alt="Piter More" /> </a>
                                      <div class="team-content1">
                                        <h3 class="team-name" style="margin-bottom: 0;"><a>Piter More</a>
                                        </h3>
                                        <span class="team-title">Business Planner</span>
                                      </div>
                                      <div class="social-icons1"> <a href="#" class="social-icon"><i
                                            class="fa fa-linkedin"></i></a></div>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-12">
                                  <div class="team-item">
                                    <div class="team-inner-wrap"> <a> <img
                                          src="../wp-content/uploads/2018/11/teamh5_3.jpg" alt="Piter More" /> </a>
                                      <div class="team-content1">
                                        <h3 class="team-name" style="margin-bottom: 0;"><a>Piter More</a>
                                        </h3>
                                        <span class="team-title">Business Planner</span>
                                      </div>
                                      <div class="social-icons1"> <a href="#" class="social-icon"><i
                                            class="fa fa-linkedin"></i></a></div>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-12">
                                  <div class="team-item">
                                    <div class="team-inner-wrap"> <a> <img
                                          src="../wp-content/uploads/2018/11/teamh5_3.jpg" alt="Piter More" /> </a>
                                      <div class="team-content1">
                                        <h3 class="team-name" style="margin-bottom: 0;"><a>Piter More</a>
                                        </h3>
                                        <span class="team-title">Business Planner</span>
                                      </div>
                                      <div class="social-icons1"> <a href="#" class="social-icon"><i
                                            class="fa fa-linkedin"></i></a></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%- include("./nav-active"); %>
        <%- include("../partials/footer"); %>