<%- include ("../partials/head"); %>
	<%- include ("../partials/navbar"); %>

		<div class="transparent_head">
			<div class="rs-breadcrumbs">
				<div class="breadcrumbs-single" style="background-image: url('../wp-content/uploads/2018/12/inner_2.jpg')">
					<div class="container">
						<div class="row">
							<div class="col-md-12 text-center">
								<div class="breadcrumbs-inner bread-">
									<h1 class="page-title"> Team One</h1>
									<nav role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs"
										itemprop="breadcrumb">
										<h2 class="trail-browse">Browse:</h2>
										<ul class="trail-items" itemscope itemtype="http://schema.org/BreadcrumbList">
											<meta name="numberOfItems" content="2" />
											<meta name="itemListOrder" content="Ascending" />
											<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"
												class="trail-item trail-begin"><a href="../index.html" rel="home" itemprop="item"><span
														itemprop="name">Home</span></a>
												<meta itemprop="position" content="1" />
											</li>
											<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"
												class="trail-item trail-end"><span itemprop="item"><span itemprop="name">Team One</span></span>
												<meta itemprop="position" content="2" />
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="main-contain">
			<div class="container">
				<div id="content" class="site-content">
					<div class="row padding-">
						<div class="col-md-12 ">
							<article id="post-2220" class="post-2220 page type-page status-publish hentry">
								<div class="entry-content">
									<div class="vc_row wpb_row vc_row-fluid vc_custom_1542693413862">
										<div class="wpb_column vc_column_container vc_col-sm-12">
											<div class="vc_column-inner">
												<div class="wpb_wrapper">
													<div class="rs-team-grid rs-team team-grid-style1">
														<div class="row">
															<div class="col-md-3 col-sm-6 col-xs-12">
																<div class="team-item">
																	<div class="team-inner-wrap"> <a href="../teams/piter-more/index.html"> <img
																				src="../wp-content/uploads/2018/11/teamh5_3.jpg" alt="Piter More" /> </a>
																		<div class="team-content1">
																			<h3 class="team-name"><a href="../teams/piter-more/index.html">Piter More</a></h3>
																			<span class="team-title">Business Planner</span>
																		</div>
																		<div class="social-icons1"> <a href="#" class="social-icon"><i
																					class="fa fa-facebook"></i></a> <a href="#" class="social-icon"><i
																					class="fa fa-google-plus"></i></a> <a href="#" class="social-icon"><i
																					class="fa fa-twitter"></i></a> <a href="#" class="social-icon"><i
																					class="fa fa-linkedin"></i></a></div>
																	</div>
																</div>
															</div>
															<div class="col-md-3 col-sm-6 col-xs-12">
																<div class="team-item">
																	<div class="team-inner-wrap"> <a href="../teams/p-jonshon-2/index.html"> <img
																				src="../wp-content/uploads/2018/11/8-1.jpg" alt="P. Jonshon" /> </a>
																		<div class="team-content1">
																			<h3 class="team-name"><a href="../teams/p-jonshon-2/index.html">P. Jonshon</a>
																			</h3> <span class="team-title">Endocrinologist</span>
																		</div>
																		<div class="social-icons1"> <a href="#" class="social-icon"><i
																					class="fa fa-facebook"></i></a> <a href="#" class="social-icon"><i
																					class="fa fa-google-plus"></i></a> <a href="#" class="social-icon"><i
																					class="fa fa-twitter"></i></a> <a href="#" class="social-icon"><i
																					class="fa fa-linkedin"></i></a></div>
																	</div>
																</div>
															</div>
															<div class="col-md-3 col-sm-6 col-xs-12">
																<div class="team-item">
																	<div class="team-inner-wrap"> <a href="../teams/p-jonshon/index.html"> <img
																				src="../wp-content/uploads/2018/11/7-1.jpg" alt="P. Jonshon" /> </a>
																		<div class="team-content1">
																			<h3 class="team-name"><a href="../teams/p-jonshon/index.html">P. Jonshon</a></h3>
																			<span class="team-title">Business Planner</span>
																		</div>
																		<div class="social-icons1"> <a href="#" class="social-icon"><i
																					class="fa fa-facebook"></i></a> <a href="#" class="social-icon"><i
																					class="fa fa-google-plus"></i></a> <a href="#" class="social-icon"><i
																					class="fa fa-twitter"></i></a> <a href="#" class="social-icon"><i
																					class="fa fa-linkedin"></i></a></div>
																	</div>
																</div>
															</div>
															<div class="col-md-3 col-sm-6 col-xs-12">
																<div class="team-item">
																	<div class="team-inner-wrap"> <a href="../teams/devon-smith/index.html"> <img
																				src="../wp-content/uploads/2018/11/teamh5_1.jpg" alt="Devon Smith" /> </a>
																		<div class="team-content1">
																			<h3 class="team-name"><a href="../teams/devon-smith/index.html">Devon Smith</a>
																			</h3> <span class="team-title">Business Planner</span>
																		</div>
																		<div class="social-icons1"> <a href="#" class="social-icon"><i
																					class="fa fa-facebook"></i></a> <a href="#" class="social-icon"><i
																					class="fa fa-google-plus"></i></a> <a href="#" class="social-icon"><i
																					class="fa fa-twitter"></i></a> <a href="#" class="social-icon"><i
																					class="fa fa-linkedin"></i></a></div>
																	</div>
																</div>
															</div>
															<div class="col-md-3 col-sm-6 col-xs-12">
																<div class="team-item">
																	<div class="team-inner-wrap"> <a href="../teams/stuart-juli/index.html"> <img
																				src="../wp-content/uploads/2018/11/team5_4.jpg" alt="Stuart Juli" /> </a>
																		<div class="team-content1">
																			<h3 class="team-name"><a href="../teams/stuart-juli/index.html">Stuart Juli</a>
																			</h3> <span class="team-title">CEO & Founder</span>
																		</div>
																		<div class="social-icons1"> <a href="#" class="social-icon"><i
																					class="fa fa-facebook"></i></a> <a href="#" class="social-icon"><i
																					class="fa fa-google-plus"></i></a> <a href="#" class="social-icon"><i
																					class="fa fa-twitter"></i></a> <a href="#" class="social-icon"><i
																					class="fa fa-linkedin"></i></a></div>
																	</div>
																</div>
															</div>
															<div class="col-md-3 col-sm-6 col-xs-12">
																<div class="team-item">
																	<div class="team-inner-wrap"> <a href="../teams/arfin-anowar/index.html"> <img
																				src="../wp-content/uploads/2018/11/teamh5_2.jpg" alt="Arfin Anowar" /> </a>
																		<div class="team-content1">
																			<h3 class="team-name"><a href="../teams/arfin-anowar/index.html">Arfin Anowar</a>
																			</h3> <span class="team-title">Business Advisor</span>
																		</div>
																		<div class="social-icons1"> <a href="#" class="social-icon"><i
																					class="fa fa-facebook"></i></a> <a href="#" class="social-icon"><i
																					class="fa fa-google-plus"></i></a> <a href="#" class="social-icon"><i
																					class="fa fa-twitter"></i></a> <a href="#" class="social-icon"><i
																					class="fa fa-linkedin"></i></a></div>
																	</div>
																</div>
															</div>
														</div>
														<div></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</article>
						</div>
					</div>
				</div>
			</div>
		</div>

		<%- include("../partials/footer"); %>