<%- include ("../partials/head"); %>
<%- include ("../partials/navbar-shadow"); %>

<div id="page" class="site ">
  <div class="main-contain updates-padding">
    <div class="container">
      <div id="content">
        <div class="rs-heading style3  vc_custom_1543920863426  ">
          <div class="title-inner">
            <!-- <span style="color: #28406d" class="sub-text">[News]</span> -->
            <h2 class="title" style="margin-bottom: 0;">Blogs <%= year %>  /<span style="color: gray ; font-size: 1.5rem">
                Title
              </span></h2>
          </div>
        </div>
        <div class="rs-blog-details pt-70 pb-70">
          <div class="row padding-">
            <div class="col-md-12 ">
              <article id="post-2164" class="post-2164 post type-post status-publish format-standard has-post-thumbnail hentry category-corporate tag-business tag-corporate">
                <div class="bs-img"> <img src="/images/2.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" sizes="(max-width: 1200px) 100vw, 1200px" />

                </div>
                <div class="single-content-full">
                  <div class="bs-desc update-content">
                    <h2 class="post-title">
                      Title
                    </h2>
                    <p>[Date]</p>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ipsam natus, voluptatum deserunt nam ducimus corporis. Sed, laudantium soluta. Voluptatibus iste perspiciatis facilis. Sapiente maxime officia quia deleniti ad, soluta nesciunt dolores ut quasi fugiat est nemo facilis dolore laboriosam ducimus! Fugiat vitae reprehenderit hic officia ad, mollitia laboriosam, quibusdam harum quidem, rem excepturi pariatur ea similique atque a dolorum voluptas. Alias quidem sunt, repellendus corporis qui error perferendis quam impedit, natus harum exercitationem eius! Sequi odio quo, voluptatibus assumenda quis ipsam, fugit a necessitatibus, at omnis adipisci aut animi iste? Obcaecati quod labore ratione quibusdam officia dignissimos dolor qui?
                    </p>
                  </div>
                </div>
                <div class="clear-fix"></div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.getElementById("tt19").classList.add("current-menu-ancestor");
    document.getElementById("home19").classList.remove("current_page_item", "current-menu-ancestor");
  </script>

  <%- include ("../partials/footer"); %>