<%- include ("../partials/head"); %>
  <%- include ("../partials/navbar-shadow"); %>


    <div id="page" class="site ">
      <div class="main-contain updates-padding">
        <div class="container">
          <div id="content" class="site-content">
            <div class="rs-heading style3  vc_custom_1543920863426  ">
              <div class="title-inner">
                <h2 class="title" style="margin-bottom: 0;">TechThreads 2021 - Quarter 4</h2>
              </div>
            </div>

            <div class="techthreads">
              <img src="/images/techthreads/21e4.jpg" alt="">

              <div>
                <h4>About</h4>
                <p>Blogging is a skill, one that takes practice to perfect. Like fine wine, the more experience, the
                  better. Authoring articles, poems and blogs are today’s go to way of expressing oneself on the
                  internet. IEEE Computer Society Kerala Chapter “TechThreads” is an initiative to accelerate this drive
                  in its student members. This is a chance for our students to express themselves, your thoughts, your
                  two cents on matters of concern to all, and we give you a stage. The authors of the approved blogs
                  posts will be provided with certificates and recognition. The entries will be judged on the basis of
                  novelty, originality and pragmatism of the submitted blog.</p>
              </div>

              <div>
                <h4>Theme</h4>
                <p>The entrant should follow the theme “Esports”.</p>
              </div>

              <div>
                <h4>Eligibility Criteria</h4>
                <p>Entrant must be an IEEE CS Student Member enrolled in an undergraduate academic program of an
                  institution in Kerala having an IEEE Computer Society Chapter.</p>
              </div>

              <div>
                <h4>Blog Guidelines</h4>
                <ul>
                  <li>The blog should be related to the topic of “Esports”.</li>
                  <li>Blog entry must be submitted in English language only.</li>
                  <li>The word limit for a blog entry must be between 450 and 750 words.</li>
                  <li>Co-authorship isn’t allowed.</li>
                  <li>Self-published work in blogs, on social media, etc., is allowed.</li>
                  <li>The articles should be plagiarism-free and quality content with proper formatting such as a
                    heading, subheadings, tags, bullet points, etc.</li>
                  <li>The articles shouldn’t contain grammatical errors or punctuation errors.</li>
                  <li>Attribute quoted/paraphrased info or images with links to the sources.</li>
                  <li>Entrants may submit only one entry per cycle.</li>
                </ul>
              </div>

              <div>
                <h4>Incentives</h4>
                <ul>
                  <li>The best works, which are selected in each edition will be published by IEEE Computer Society
                    Kerala Chapter, on our official webpage and on our official medium handle with due credits to the
                    author.</li>
                  <li>The author’s personal blog can also be linked alongside.</li>
                  <li>The best blogs across the whole year will be awarded cash prizes from a prize pool of Rs. 20000.
                  </li>
                  <li>Active bloggers will also be shortlisted directly for the second round of the IEEE CS Kerala
                    Chapter content team selection next year.</li>
                </ul>
              </div>

              <div>
                <h4>Terms & Conditions</h4>
                <ul>
                  <li>Each blog entry must be the entrant’s original work, in its entirety, and must not infringe on the
                    works or other rights of any other third party. It’s the entrant’s responsibility to clear all
                    aspects of copyright infringement.</li>
                  <li>Any blog entry containing discriminatory and unlawful content will be rejected.</li>
                  <li>Any blog containing advertisements or endorsements will be rejected.</li>
                  <li>All entries will be reviewed by a panel of experts from Industry and Academia. The review
                    committee reserves the right to disqualify any blog entry from the event which infringes the 3rd
                    party copyright.</li>
                  <li>The decisions taken by the review committee will be final and cannot be appealed.</li>
                  <li>By submitting the blog, entrants agree to give IEEE Computer Society Kerala Chapter the right to
                    use the blog and the copyright without any fee.</li>
                  <li>Entrants must submit valid personal information for participation.</li>
                  <li>Any false information provided within the context of the event by any entrant concerning identity,
                    ownership or non-compliance with these rules results in the immediate elimination of the entrant.
                  </li>
                  <li>Entrants agree that their personal data, especially name and contact details, may be processed,
                    stored and used for other purposes and within the context of the event.</li>
                  <li>Entrants will always retain the copyright to be identified as the author of their blog.</li>
                </ul>
              </div>

              <div>
                <h4>Submission Guidelines</h4>
                <ul>
                  <li>Entrants are initially required to fill out a form detailing information regarding their Student
                    Branch and IEEE membership status, upon filling which we shall verify your eligibility to
                    participate.</li>
                  <li>Once that is done, the entrant can submit their entry with an account provided on
                    cs.ieeekerala.org. The credentials to the same will be sent via email to the submitted email ID.
                  </li>
                  <li>By submitting their blogs, entrants agree to all the event rules and regulations.</li>
                  <li>The submitted blogs will be reviewed by our team of eminent professionals which includes
                    academicians and industry experts. Points will be given based on the quality of work and a blog will
                    be approved or rejected after the review process by the committee.</li>
                  <li>It may take up to two weeks before we respond to you. Even if we choose not to publish your blog
                    post, you will get a response, explaining the reason.</li>
                  <li>If we publish your blog post, Entrants will always have the right to access, review, rectify the
                    post.</li>
                </ul>
              </div>

              <div>
                <i>PS: IEEE Computer Society Kerala Chapter isn’t responsible for any violations of
                  copyright or any other unauthorized use of multimedia or other content of submitted blogs.</i>
              </div>

              <div class="reg-message">
                <p><b>Interested Students can register here before 12th December 2021.
                    Prizes worth Rs.20K for the best three blogs of TechThreads 2021!</b></p>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdp7yqCYF08lh_cnhN_q_0FqS-ei636k3DA3jgvQIGZYTAoNA/closedform"
                  class="readon rs_button ">Register</a>
              </div>
            </div>

          </div>
        </div>
      </div>

      <script>
        document.getElementById("tt19").classList.add("current-menu-ancestor");
        document.getElementById("home19").classList.remove("current_page_item", "current-menu-ancestor");
      </script>

      <%- include ("../partials/footer"); %>