.admin-btns {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
}

.event-item {
  background: #fff;
}

.bottom-shadow1 {
  padding-top: 1.25rem !important;
}

.blog-title {
  font-size: 1.25rem;
  margin-bottom: 1rem !important;
}

.event-card {
  padding: 1rem;
  background: #eeeeee;
  border-radius: 1rem;
}

.admin-form {
  margin-bottom: 6rem;
}

.admin-form textarea {
  margin-top: 1.5rem;
  height: 300px;
}

.admin-form button {
  width: 250px;
  padding: 0.75rem 1rem;
}

.admin-form .form-check {
  margin-bottom: 0;
}

.admin-form .mini-width-field {
  /* margin-bottom: 1.5rem; */
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: start;
  align-items: center;
  column-gap: 4rem;
  margin-bottom: 1.5rem;
}

.admin-form .mini-width-field.x {
  grid-template-columns: repeat(2, auto);
}

.admin-form.statistics input[type="number"], .admin-form.statistics label {
  margin-bottom: 0;
}

.admin-form.statistics div {
  display: grid;
  grid-template-columns: 200px 200px;
  align-items: center;
  padding: 0.5rem 0;
}

.admin-form.statistics button {
  margin-top: 2rem;
}

.admin-form .author-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

.admin-form h4 {
  margin-bottom: 0.75rem;
}