.updates-padding {
  padding-top: 3.5rem;
}

.update-content {
  margin-bottom: 6rem;
}

/* ........................ */

.sb-chapters-table {
  margin-bottom: 6rem;
}

.sb-chapters-table a {
  color: #666;
}

.sb-chapters-table th,
.sb-chapters-table td {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: default;
}

.sb-chapters-table .head {
  background: #28406d;
  color: #f5f5f5;
}
.sb-chapters-table .head .top-left {
  border-top-left-radius: 10px;
}

.sb-chapters-table .head .top-right {
  border-top-right-radius: 10px;
}

.sb-chapters-table .even {
  background: #f5f5f5;
}

/* ........................ */

.team-item h3 {
  font-family: Muli !important;
  cursor: default;
  font-size: 1.2rem !important;
}

.team-item .team-title {
  font-size: 16px !important;
}

/* ........................ */

.techthreads {
  max-width: 800px !important;
  margin-bottom: 6rem;
}

.techthreads img {
  margin-bottom: 3rem;
  max-width: 600px;
}

.techthreads h4 {
  margin-bottom: 0.5rem;
}

.techthreads .reg-message {
  margin-top: 1.5rem;
}

/* ........................ */

.ob-img {
  width: 100%;
}

.event-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}