.updates-padding {
  padding-top: 3.5rem;
}

.update-content {
  margin-bottom: 6rem;
}

/* ........................ */

.sb-chapters-table {
  margin-bottom: 6rem;
}

.sb-chapters-table a {
  color: #666;
}

.sb-chapters-table th,
.sb-chapters-table td {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: default;
}

.sb-chapters-table .head {
  background: #28406d;
  color: #f5f5f5;
}
.sb-chapters-table .head .top-left {
  border-top-left-radius: 10px;
}

.sb-chapters-table .head .top-right {
  border-top-right-radius: 10px;
}

.sb-chapters-table .even {
  background: #f5f5f5;
}

/* ........................ */

.team-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
}

@media (max-width: 600px) {
  .team-grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 0.5rem;
  }
  .rs-team-grid.team-grid-style1 .team-item {
    padding-bottom: 1rem;
  }
  .team-name a {
    font-size: 14px;
    line-height: 0;
  }
  .team-grid-style1 .team-item .team-content1 span.team-title {
    font-size: 14px !important;
  }
  .team-grid-style1 .team-item .team-content1 {
    margin-top: 0.5rem;
  }
}

.team-item h3 {
  font-family: Muli !important;
  cursor: default;
  font-size: 1.2rem !important;
}

.team-item .team-title {
  font-size: 16px !important;
}

/* ........................ */

.techthreads {
  max-width: 800px !important;
  margin-bottom: 6rem;
}

.techthreads img {
  width: 100%;
  margin-bottom: 3rem;
  max-width: 600px;
}

.techthreads h4 {
  margin-bottom: 0.5rem;
}

@media (max-width: 600px) {
  .techthreads h4 {
    font-size: 16px;
  }

  .techthreads p {
    font-size: 14px;
  }

  .readon {
    font-size: 1rem;
  }

  .techthreads ul {
    margin-left: 1.25rem;
  }
}

.techthreads .reg-message {
  margin-top: 1.5rem;
}

/* ........................ */

.ob-img {
  width: 100%;
}

.event-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* ........................ */

.landing {
  background: url(../images/akcssc.jpg);
  height: 90vh;
  background-size: cover;
  filter: brightness(40%);
}
