body{
  text-align: center;
  background-color: #e4fbff !important;
  overflow-x: hidden;
}
.padding{
  padding-top: 2%;
}
h1{
  color: #d44000;
}
h1,h2,h3{
  font-size: 17px;
  line-height: 1.6;
  padding: 1%;
  padding-bottom: 2%;
}
.para{
  margin: 4% 20%;
  text-align: justify;
  font-size: 17px;
  line-height: 1.6;
}
.box{
  font-weight: bold;

}
/* .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
}
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  margin: 0.5px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
} */
.fa{
  margin-right: 10px;
  margin-bottom: 20px;
  text-decoration: none;
  padding: 6px;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.7;
}
.fa-instagram {
  background: #3B5998;
  color: white;
  background: #f09433;
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.fa-linkedin {
  background: #55ACEE;
  color: white;
}
.fa-facebook{
  background: #3B5998;
  color:white;
}
.fa-twitter{
  background: #3B5998;
  color:white;
}
.fa-envelope{
  background: #55ACEE;
  color: white;
}
